<div class="main-content">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row align-items-end">
                <div class="col-lg-8">
                    <div class="page-header-title">
                        <i class="ik ik-bookmark bg-blue"></i>
                        <div class="d-inline">
                            <h3 class="font-weight-bold">My Domains
                                
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <nav class="breadcrumb-container" aria-label="breadcrumb">
                        <a href="http://" class="btn btn-primary"> New 
                                    <i class="ik ik-folder-plus text-white"></i>
                                </a>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/client/dashboard">Dashboard</i></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">My Domains</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dt-responsive">
                            <div id="order-table_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="order-table" class="table table-striped table-bordered nowrap dataTable" role="grid" aria-describedby="order-table_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting" tabindex="0" aria-controls="order-table" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 160px;">S/N</th>
                                                    <th class="sorting" tabindex="0" aria-controls="order-table" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 240px;">Domains</th>
                                                    <th class="sorting" tabindex="0" aria-controls="order-table" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 115px;">Next due</th>
                                                    <th class="sorting" tabindex="0" aria-controls="order-table" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 63px;">Status</th>
                                                    <th class="sorting_desc" tabindex="0" aria-controls="order-table" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" aria-sort="descending" style="width: 86px;">Action</th></tr>
                                            </thead>
                                            <tbody>
                                                <tr role="row" class="odd">
                                                    <td>1</td>
                                                    <td><i class="ik ik-lock text-success"></i> <a target="_blank" href="http://www.oscar.com">oscar.com</a></td>
                                                    <td>09/22/2021</td>
                                                    <td class=""> <i class="ik ik-check-circle text-success font-weight-bold"></i> Active</td>
                                                    <td class="sorting_1">
                                                        <div class="table-actions">
                                                            <a href="#" title="Manage Domain"><i class="ik ik-eye"></i></a>
                                                            <a href="#"><i class="ik ik-edit-2"></i></a>
                                                            <a href="#" title="Delete Domain"><i class="ik ik-trash-2"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th rowspan="1" colspan="1">S/N</th>
                                                    <th rowspan="1" colspan="1">Domains</th>
                                                    <th rowspan="1" colspan="1">Next due</th>
                                                    <th rowspan="1" colspan="1">Status</th>
                                                    <th rowspan="1" colspan="1">Action</th>
                                                    </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    
