<div class="main-content">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row align-items-end">
                <div class="col-lg-8">
                    <div class="page-header-title">
                        <i class="ik ik-bookmark bg-blue"></i>
                        <div class="d-inline">
                            <h3 class="font-weight-bold">New Domain
                                
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <nav class="breadcrumb-container" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/client/dashboard">Dashboard</i></a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/client/domains">My Domains</i></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">New </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <form action="">
                            <div class="input-group">
                                <input type="text" class="form-control " id="search" autofocus placeholder="Search for available domains:">
                                <span class="input-group-append" id="basic-addon3">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="ik ik-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    
