<!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
             Our mission is to accelerate innovation by making cloud computing simple, affordable, and accessible to all.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i><b>Award-winning support: </b> No tiers, no hand-offs, just highly trained service professionals who actually answer the phone and solve your issue 24/7/365.</li>
              <li><i class="ri-check-double-line"></i><b>Predictable pricing: </b>Always know what you will pay monthly with flat and transparent pricing across every data center.</li>
              <li><i class="ri-check-double-line"></i><b>Cloud simplified : </b>Easily manage and scale your infrastructure with our intuitive Cloud Manager, API/CLI, One-Click Apps, and more..</li>
              <li><i class="ri-check-double-line"></i><b>Global network : </b>Our 10 global data centers and Next Generation Network deliver the low latency, security, and reliability you.</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Thor Hosting believes that in order to accelerate innovation in the cloud, virtual computing must be more accessible, affordable, and simple. <br>
              Our infrastructure-as-a-service platform is deployed across 11 global markets from our data centers around the world and is supported by our Next Generation Network, advanced APIs, comprehensive services, and vast library of educational resources. <br>
              Thor Hosting products, services, and people enable developers and businesses to build, deploy, and scale applications more easily and cost-effectively in the cloud.
            </p>
            <a href="#services" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->