<div class="page-wrap">
    <div class="app-sidebar colored">
        <div class="sidebar-header">
            <a class="header-brand" href="/">
                <div class="logo-img">
                    <img src="../img/brand.svg" class="header-brand-img" alt="lavalite"> 
                    {{!-- <a href="/"><img src="../img/brand.svg" alt="thor Hosting Logo"></a> --}}
                </div>
                <span class="text">Thor hosting</span>
            </a>
            <button type="button" class="nav-toggle"><i data-toggle="expanded" class="ik ik-toggle-right toggle-icon"></i></button>
            <button id="sidebarClose" class="nav-close"><i class="ik ik-x"></i></button>
        </div>
        
        <div class="sidebar-content">
            <div class="nav-container">
                <nav id="main-menu-navigation" class="navigation-main">
                    <div class="nav-lavel">Navigation</div>
                    <div class="nav-item active">
                        <a href="/"><i class="ik ik-bar-chart-2"></i><span>Dashboard</span></a>
                    </div>
                    <div class="nav-item">
                        <a href="/domains"><i class="ik ik-menu"></i><span>Domains</span></a>
                    </div>
                    <div class="nav-item">
                        <a href="/servers"><i class="ik ik-credit-card"></i><span>Servers</span> <span class="badge badge-success">New</span></a>
                    </div>
                    <div class="nav-item">
                        <a href="/servers"><i class="ik ik-calendar"></i><span>Databases</span></a>
                    </div>
                    <div class="nav-item">
                        <a href="/servers"><i class="ik ik-message-square"></i><span>Emails</span></a>
                    </div>

                    <div class="nav-lavel">Support</div>
                    <div class="nav-item">
                        <a href="/docs"><i class="ik ik-monitor"></i><span>Documentation</span></a>
                    </div>
                    <div class="nav-item">
                        <a href="/submit-issues"><i class="ik ik-help-circle"></i><span>Submit Issue</span></a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    