<!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3>Get started today!</h3>
            <p> 
              Cut your infrastructure bills in half with more predictable price-performance and award-winning support.
              </p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#pricing">Get started today</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->