<!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7">
            <h4>Join Our Newsletter</h4>
            <p>Learn how we transform businesses such as yours with our innovative cloud solutions.</p>
            <form onsubmit="alert('Not submitted'); return false;">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Thor Hosting</h3>
            <p>
              #1 Mbieri Road, Akwakuma Junction, <br>
              Owerri, Imo State<br>
              Nigeria <br><br>
              <strong>Phone:</strong> +234 814 214 6183<br>
              <strong>Email:</strong> support@thor-hosting.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Cloud Hosting</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Storage</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Infrastructure Mgt</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Computing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Networking</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Connect with us across your favourite social channels.</p>
            <div class="social-links mt-3">
              <a target="_blank" href="https://www.twitter.com/devlegendoscar" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a target="_blank" href="https://www.facebook.com/legendoscar" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a target="_blank" href="https://www.instagram.com/devlegendoscar" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>thor Hosting</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->