    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Categories</h2>
          <p>
            Free cloud infrastructure: CPU, transfer, storage, and RAM bundled into one simple price.
          </p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-compute">Compute</li>
          <li data-filter=".filter-storage">Storage</li>
          <li data-filter=".filter-networking">Networking</li>
        </ul>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-compute">
            <div class="portfolio-img"><img src="img/portfolio/time-shared-cpu.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Shared CPU</h4>
              <p>Balanced Power and Performance</p>
              <a href="img/portfolio/time-shared-cpu.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
              {{!-- <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a> --}}
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-compute">
            <div class="portfolio-img"><img src="img/portfolio/dedicated-cpu.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Dedicated CPU</h4>
              <p>For CPU-intensive applications</p>
              <a href="img/portfolio/dedicated-cpu.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              {{!-- <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a> --}}
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-compute">
            <div class="portfolio-img"><img src="img/portfolio/ram-usage.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>High Memory</h4>
              <p>Maximum RAM Configurations</p>
              <a href="img/portfolio/ram-usage.png" data-gall="portfolioGallery" class="venobox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
              {{!-- <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a> --}}
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-compute">
            <div class="portfolio-img"><img src="img/portfolio/gpu-image.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>GPU</h4>
              <p>Speed up complex compute jobs</p>
              <a href="img/portfolio/gpu-image.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
              {{!-- <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a> --}}
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-storage">
            <div class="portfolio-img"><img src="img/portfolio/block-storage.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Block Storage</h4>
              <p>Reliable and Scalable Storage</p>
              <a href="img/portfolio/block-storage.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
              {{!-- <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a> --}}
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-networking">
            <div class="portfolio-img"><img src="img/portfolio/load-balancers.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Load balancers</h4>
              <p>Transparent and easy Load Distribution</p>
              <a href="img/portfolio/load-balancers.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
              {{!-- <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a> --}}
            </div>
          </div>       

          <div class="col-lg-4 col-md-6 portfolio-item filter-storage">
            <div class="portfolio-img"><img src="img/portfolio/object-storage.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Object Storage</h4>
              <p>Simple content storage and delivery</p>
              <a href="img/portfolio/object-storage.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
              {{!-- <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a> --}}
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-storage">
            <div class="portfolio-img"><img src="img/portfolio/backup-image.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Backups</h4>
              <p>Safe and Reliable cloub backups</p>
              <a href="img/portfolio/backup-image.png" data-gall="portfolioGallery" class="venobox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
              {{!-- <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a> --}}
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-networking">
            <div class="portfolio-img"><img src="img/portfolio/dns-image.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>DNS Manager</h4>
              <p>Simple control over your DNS records</p>
              <a href="img/portfolio/dns-image.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              {{!-- <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a> --}}
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->