    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Categories</h2>
          <p>
            Free cloud infrastructure credit for any Thor Hosting
            </p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-compute">Compute</li>
          <li data-filter=".filter-storage">Storage</li>
          <li data-filter=".filter-networking">Networking</li>
        </ul>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-compute">
            <div class="portfolio-img"><img src="img/portfolio/time-shared-cpu.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Shared CPU</h4>
              <p>Balanced Power and Performance</p>
              <a href="img/portfolio/time-shared-cpu.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
              {{!-- <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a> --}}
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-compute">
            <div class="portfolio-img"><img src="img/portfolio/dedicated-cpu.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Dedicated CPU</h4>
              <p>For CPU-intensive applications</p>
              <a href="img/portfolio/dedicated-cpu.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              {{!-- <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a> --}}
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-compute">
            <div class="portfolio-img"><img src="img/portfolio/ram-usage.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>High Memory</h4>
              <p>Maximum RAM Configurations</p>
              <a href="img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-compute">
            <div class="portfolio-img"><img src="img/portfolio/gpu-image.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>GPU</h4>
              <p>Speed up complex compute jobs</p>
              <a href="img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
              {{!-- <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a> --}}
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-storage">
            <div class="portfolio-img"><img src="img/portfolio/portfolio-4.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Card 2</h4>
              <p>Card</p>
              <a href="img/portfolio/portfolio-4.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-networking">
            <div class="portfolio-img"><img src="img/portfolio/portfolio-5.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Web 2</h4>
              <p>Web</p>
              <a href="img/portfolio/portfolio-5.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
              {{!-- <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a> --}}
            </div>
          </div>       

          <div class="col-lg-4 col-md-6 portfolio-item filter-storage">
            <div class="portfolio-img"><img src="img/portfolio/portfolio-7.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Card 1</h4>
              <p>Card</p>
              <a href="img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
              {{!-- <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a> --}}
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-storage">
            <div class="portfolio-img"><img src="img/portfolio/portfolio-8.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Card 3</h4>
              <p>Card</p>
              <a href="img/portfolio/portfolio-8.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
              {{!-- <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a> --}}
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-networking">
            <div class="portfolio-img"><img src="img/portfolio/portfolio-9.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <a href="img/portfolio/portfolio-9.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->