<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
  <meta content="" name="description">
  <meta content="" name="keywords">

{{> css-files }}

  
  <!-- =======================================================
  * Developer: Legend Oscar
  ======================================================== -->
</head>

<body>

  {{{body}}}


   <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

  {{> js-files }}
</body>

</html>