<title>Most Secured, Affordable and Scalable Cloud Hosting Platform - Welcome to Thor Hosting</title>


{{> menu-bar }}

{{> hero-section }}

<main id="main">

  {{> clients  }}

  {{> about-us  }}
  {{> skills  }}
  {{> services  }} 
  {{> cta-section  }}
  {{> portfolio }}
  {{> team-section  }}
  {{> pricing-section  }}
  {{> faq-section  }}
  {{> contact-us  }}
    
  </main><!-- End #main -->
{{> footer }}